<div data-collapse="medium" data-animation="over-right" data-duration="400" role="banner" class="navbar w-nav">
    <div class="mycontainer-menu">
      <a href="{{ home_url }}" aria-current="page" class="brand w-nav-brand w--current">
        <div class="img-logo"></div>
      </a>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ home_url }}" class="nav-link-home w-nav-link">Home</a>
        <div data-hover="1" data-delay="0" class="nav-link w-dropdown">
          <div class="nav-link-menu-inside w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Projetos</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <a href="{{ base_url }}/tato" class="nav-link w-dropdown-link">Tato</a>
            <a href="{{ base_url }}/mesa-touchless" class="nav-link w-dropdown-link">Mesa Touchless</a>
            <a href="{{ base_url }}/nossa-cidade" class="nav-link w-dropdown-link">#nossacidade</a>
            <a href="{{ base_url }}/balsa" class="nav-link w-dropdown-link">Balsa</a>
            <a href="{{ base_url }}/atoi" class="nav-link w-dropdown-link">Ato I</a>
            <a href="{{ base_url }}/desmemoria" class="nav-link w-dropdown-link">(Des)memória</a>
            <a href="{{ base_url }}/painel-interativo" class="nav-link w-dropdown-link">Painel Interativo</a>
            <a href="{{ base_url }}/anima" class="nav-link w-dropdown-link">Anima</a>
          </nav>
        </div>
        <a href="{{ base_url }}/about" class="nav-link w-nav-link">Sobre</a>
        <a href="https://www.instagram.com/studioabstracto/" target="_blank" class="nav-link w-nav-link">Lab</a>
        <a href="mailto:contato@abstracto.com.br?subject=Contato%20a%20partir%20do%20site" class="nav-link w-nav-link">Contato</a>
      </nav>
    </div>
  </div>
