<div data-collapse="medium" data-animation="over-right" data-duration="400" role="banner" class="navbar w-nav">
    <div class="mycontainer-menu">
      <a href="{{ site.url }}" aria-current="page" class="brand w-nav-brand w--current">
        <div class="img-logo"></div>
      </a>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ site.baseurl }}" class="nav-link-home w-nav-link">Home</a>
        <div data-hover="1" data-delay="0" class="nav-link w-dropdown">
          <div class="nav-link-menu-inside w-dropdown-toggle">
            <div class="w-icon-dropdown-toggle"></div>
            <div>Projetos</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">

            {% assign projects = site.pages | where_exp: "item" , "item.path contains 'projects'" |  uniq %}

            {% for project in projects %}
            <a href="{{ site.url }}{{ project.permalink }}" class="nav-link w-dropdown-link">{{ project.project-title }}</a>
            {% endfor %}

          </nav>
        </div>
        <a href="{{ site.url }}/about" class="nav-link w-nav-link">Sobre</a>
        <a href="https://www.instagram.com/studioabstracto/" target="_blank" class="nav-link w-nav-link">Lab</a>
        <a href="mailto:contato@abstracto.com.br?subject=Contato%20a%20partir%20do%20site" class="nav-link w-nav-link">Contato</a>
      </nav>
    </div>
  </div>
