<!-- source: https://codepen.io/tgaychey/pen/PROMVy -->


<div class="news-card">
<a href="{{ link_url }}" class="news-card__card-link" target="_blank"></a>
<img src="{{ link_image }}" alt="" class="news-card__image">
<div class="news-card__text-wrapper">
  <h2 class="news-card__title">{{ link_title }}</h2>
  <div class="news-card__post-date">{{ link_domain }}</div>
  <div class="news-card__details-wrapper">
    <p class="news-card__excerpt">{{ link_description }}</p>
    <a href="{{ link_url }}" class="news-card__read-more" target="_blank">Leia mais...<i class="fas fa-long-arrow-alt-right"></i></a>
  </div>
</div>
</div>

