<div class="section-dark-4">
    <div class="wrap-2 w50-80">
      <div class="headline-6-col">
        <h2>Nosso Processo</h2>
      </div>
      <div class="content2-items">
        <div class="_3-col">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">01</div>
            <div class="decoline decoline-dark"></div>
            <h3>Contato</h3>
            <p class="text-14 text-14-60">Se interessou? <a href="mailto:contato@abstracto.com.br?subject=Instalação%20Tato" class="nav-link underline">Vamos conversar!</a>
            </p>
          </div>
        </div>
        <div class="_3-col">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">02</div>
            <div class="decoline decoline-dark"></div>
            <h3>Visita técnica</h3>
            <p class="text-14 text-14-60">Visita técnica inicial para avaliar as condições de realização no espaço.</p>
          </div>
        </div>
        <div class="_3-col">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">03</div>
            <div class="decoline decoline-dark"></div>
            <h3>Montagem</h3>
            <p class="text-14 text-14-60">Antes da realização, é ideal que possamos realizar a montagem e calibrar o sistema no local do evento.</p>
          </div>
        </div>
        <div class="_3-col _3-col-last">
          <div class="content2-number-wrapper">
            <div class="content2-jumbonumber">04</div>
            <div class="decoline decoline-dark"></div>
            <h3><strong>Realização</strong></h3>
            <p class="text-14 text-14-60">Momento onde o projeto vai ao público!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
