---
layout: default
---

<header id="hero-overlay" class="home-hero">
    <div data-poster-url="{{ "assets/videos/landing/landing.jpg" || relative_url }}" data-video-urls="{{ "assets/videos/landing/landing.mp4" || relative_url }},{{ "assets/videos/landing/landing.webm" || relative_url }}" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="background-video-3 w-background-video w-background-video-atom"><video autoplay="" loop="" style="background-image:url(&quot;{{ "assets/videos/landing/landing.jpg" || relative_url }}&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
        <source src="{{ "assets/videos/landing/landing.mp4" || relative_url }}" data-wf-ignore="true">
        <source src="{{ "assets/videos/landing/landing.webm" || relative_url }}" data-wf-ignore="true">
      </video></div>
  </header>
  <div class="home-menu-stickbg"></div>
  <section id="cards-section" class="home-about-section">
    <div class="mycontainer">
      <div data-w-id="94ed4d0f-ee2d-429b-205a-9212f758076a" class="home-title">
        <h1>Somos o Abstracto Studio. <br>Combinamos design, arte e tecnologia para criar experiências memoráveis para seu público.</h1>
      </div>
      <div class="cards-grid-container">
        <div id="w-node-112a4c301885-531731a4">
          <div class="cards-image-mask"><img src="{{ 'assets/imgs/landing/img-exp.png' || relative_url }}" alt="" class="cards-image"></div>
          <h3>Experiências Interativas</h3>
          <p>Criamos instalações interativas, web ou presenciais, utilizando novas tecnologias capazes de capturar e reagir à ação do público.</p>
        </div>
        <div id="w-node-112a4c30188c-531731a4">
          <div class="cards-image-mask"><img src="{{ 'assets/imgs/landing/img-ar.png' || relative_url }}" alt="" class="cards-image"></div>
          <h3 id="w-node-112a4c30188f-531731a4">Realidades Extendidas</h3>
          <p id="w-node-112a4c301891-531731a4">Produzimos projetos em VR (realidade virtual), AR (realidade aumentada) e ambientes imersivos onde real e virtual se misturam.</p>
        </div>
        <div id="w-node-112a4c301893-531731a4">
          <div class="cards-image-mask"><img src="{{ 'assets/imgs/landing/img-perso.png' || relative_url }}" alt="" class="cards-image"></div>
          <h3 id="w-node-112a4c301896-531731a4">Softwares Personalizados</h3>
          <p id="w-node-112a4c301898-531731a4">Desenvolvemos soluções, softwares e sistemas personalizados que integram novas mídias para diversas finalidades e aplicações.</p>
        </div>
      </div>
    </div>
  </section>

  
  <section id="feature-section" class="home-projects-section">

    {% assign projects = site.pages | where_exp: "item" , "item.path contains 'projects' and item.home == true" |  uniq %}

    {% for project in projects %}

      <div class="mycontainer product">
        <div class="feature-image-mask"><img src="{{ project.og-image || relative_url }}" width="1075" alt="" class="feature-image"></div>
        <div class="home-product-text-wrapper">
          <div class="pad24">{{ project.project_title }}</div>
          <div class="tags pad16">
          {% for tag in project.tags %}
            {% if tag  == project.tags[0] %}
              {{ tag }}
            {% else %}
              • {{ tag }}
            {% endif %}
          {% endfor %}
          </div>
          <div class="pad24">
            <p>{{ project.description }}</p>
          </div>
          <a href="{{ base_url }}{{ project.permalink }}" class="button w-button">Saiba mais -&gt;</a>
        </div>
      </div>

    {% endfor %}

  </section>


  <section id="cards-section" class="product-description">
    <div class="mycontainer">
      <div data-w-id="b443992e-afa6-1694-1a42-4233c9c21f3f" class="home-title">
        <h1>Do design à execução, trabalhamos em parceria para criar experiências inesquecíveis, sejam virtuais ou presenciais.<br> <br>Nosso processo é flexível. As etapas são guiadas pelas necessidades de cada projeto.<br></h1>
      </div>
      <div class="home-process-wrapper">
        <div class="home-process-line">
          <div class="home-process-wrapper-item"><img src="{{ 'assets/imgs/landing/passo1.svg' || relative_url }}" width="50">
            <h1>Design</h1>
            <div>Pesquisa, definição de conceito e tecnologias necessárias para a realização do projeto. Planejamento executivo.</div>
          </div>
          <div class="home-process-wrapper-item"><img src="{{ 'assets/imgs/landing/passo2.png' || relative_url }}" width="50">
            <h1>Prototipagem</h1>
            <div>Validação de idéias. Prototipação dos principais conceitos e funcionalidades para validação e testes antes do desenvolvimento completo.</div>
          </div>
        </div>
        <div class="home-process-line">
          <div class="home-process-wrapper-item"><img src="{{ 'assets/imgs/landing/passo3.png' || relative_url }}" width="50">
            <h1>Desenvolvimento</h1>
            <div>Produção/construção na forma que será apresentado ao público. Implementação de elementos audiovisuais e interação.</div>
          </div>
          <div class="home-process-wrapper-item"><img src="{{ 'assets/imgs/landing/passo4.png' || relative_url }}" width="50">
            <h1>Execução</h1>
            <div>Realização do projeto de acordo com as necessidades de local. Pode incluir a montagem, operação ou o que for necessário para a apresentação ao público.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="lab-wrapper">
      <div class="div-block-7">
        <h3 class="h3-lab">Lab. <br>Nosso <a href="https://www.instagram.com/studioabstracto/" target="_blank" class="link">Instagram↗</a> é um laboratório aberto onde compartilhamos processos de experimentação com novas mídias e tecnologias criativas.</h3>
      </div>
    </div>
  </section>